* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
}

.heading {
  text-align: center;
  margin: 50px;
}

.location,
.temperature-section {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  margin: 50px;
}
.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 10px;
  font-size: 30px;
}
.degree-section h2 {
  font-size: 40px;
}

.location img {
  width: 400px;
  height: 100px;
}
